@import url('../css/reset.css');
@import url('../css/style.css');

:root {
    --border-color: #d1d5db;
    --white: #fff;
}

.header {
    width: 100vw;
    max-width: 100%;
    height: 700px;
}
.header__head {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    z-index: 10;
}
.header__head > .title {
    color: pink;
    font-size: 24px;
    letter-spacing: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.header__head > .title:hover {
    color: var(--main-color);
}
.header__main {
    height: 100%;
    width: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1714508862788-44e45c4315d0?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
}

/* search */
.searchForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.searchForm__input,
.searchForm__icon {
    font-size: 1rem;
    color: var(--white);
}
.searchForm__input {
    border: none;
    flex: 1;
    padding-left: 15px;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    padding: 6px 10px;
    border: 2px solid var(--border-color);
}
.searchForm__input::placeholder {
    color: var(--white);
}
.searchForm__input:focus-visible {
    outline-color: var(--main-color);
}
.searchForm__icon {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.searchForm__icon:hover {
    filter: brightness(-20%);
}

/* swiper */
.swiper-slide {
    width: 100%;
}
.contentWrapper {
    width: 500px;
    position: absolute;
    top: 40%;
    left: 5%;
    color: var(--white);
}
.movieImg {
    position: relative;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
.movieTitle {
    font-size: 3rem;
}
.movieReleaseDate,
.review {
    display: inline-block;
    font-size: 1rem;
}
.review {
    margin-left: 20px;
}
.movieContent {
    font-size: 1rem;
    margin-top: 10px;
}
