@import url("../css/reset.css");
@import url("../css/style.css");
@import url("../css/header.css");

#sub {
  width: 100%;
  height: 55px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  transition: 0.5s;
  position: relative;
  margin-bottom: 6rem;
}

.title {
  font-size: 24px;
  color: var(--text);
  margin-left: 1em;
  padding: 1rem;
}

.back {
  width: 60px;
  height: 30px;
  background-color: var(--light-text);
  float: right;
  border: none;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
}

button:active {
  opacity: 0.7;
}

#movie-info {
  width: 1400px;
  height: 720px;
  background-color: #0f1b33;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

#movie-info > .movie-photo {
  width: 400px;
  height: 500px;
  background-color: var(--white);
  border-radius: 25px;
  position: absolute;
  top: 80px;
  left: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.movie-contents {
  width: 700px;
  height: 500px;
  /* background-color: #b3c8cf; */
  position: absolute;
  top: 80px;
  right: 100px;
}

/* #review {
  margin: 0 auto;
  width: 1400px;
  height: 500px;
  background-color: #eef5ff;
  margin-top: 80px;
  position: relative;
}

.review-title {
  font-size: 25px;
  position: absolute;
  top: 40px;
  left: 40px;
} */

.movie-title {
  font-size: 25px;
  margin-top: 5px;
  padding: 20px 0;
  color: var(--text);
}

.movie-contents {
  margin-top: 25px;
  color: var(--text);
}
#movie-info > h2 {
  font-size: 25px;
}

#movie-info > p {
  line-height: 1.5rem;
}

.etc {
  margin-top: 30px;
}

.like {
  border: none;
  background-color: var(--light-text);
  font-size: 17px;
  color: #f2f2f2;
  border-radius: 10px;
  width: 110px;
  height: 45px;
}

.fi fi-rr-heart {
  margin-left: 5px;
  font-size: 20px;
}

.etc :hover {
  cursor: pointer;
  opacity: 0.7;
}

/* 리뷰영역 css */
.review-content {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: #0f1b33;
}

.review-content > .review-list {
  width: 50%;
}
.review-content > .review-list > * {
  color: white;
}
.review-content > .review-list > .review-inner-wrap {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
}
.review-content > .review-list > .review-inner-wrap > .review-user-text {
  margin-bottom: 10px;
}

.review-content > .review-form {
  width: 30%;
}
.review-content > .review-form input,
.review-content > .review-form textarea {
  padding: 0;
  margin: 0;
  background: #0f1b33;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  min-height: 40px;
  padding: 0 15px;
  width: calc(100% - 32px);
}
.review-content > .review-form textarea {
  border-radius: 30px;
  min-height: 250px;
  padding: 10px 15px;
  resize: none;
}
.review-content > .review-form > .review-form-item {
  width: 100%;
  color: white;
}
.review-content > .review-form > .review-form-item > label {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.review-content > .review-form > .review-form-submit {
  display: block;
  padding: 10px 40px;
  border-radius: 10px;
  background: #656ed3;
  color: #afb3ff;
  border: 0;
  margin-top: 30px;
  float: right;
}
